@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    box-sizing: border-box;
  }
  /* inherit border-box on all elements in the universe and before and after
   */
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
}

.wrapper {
    width: 100%;
}

.container {
    display: grid;
    width: 80%;
}