// COLOR VARABLES
// Dark Theme
$color-dark-primary: hsl(230, 17%, 14%);
$color-dark-secondary: hsl(232, 19%, 15%);
$color-dark-desat-blue: hsl(228, 28%, 20%);
$color-desat-blue: hsl(228, 34%, 66%);
// $color-white: hsl(0, 0%, 100%);
$color-white: #fff;
// Light Theme
$color-pale-blue: hsl(225, 100%, 98%); //not sure
$color-light-gray-blue: hsl(227, 47%, 96%);
$color-dark-gray-blue: hsl(228, 12%, 44%);
// Dark Theme Toggle
$color-toggle-primary: hsl(210, 78%, 56%); 
$color-toggle-secondary: hsl(146, 68%, 55%);
$card-bg-color: hsl(232, 19%, 15%);
$color-light-1: hsl(228, 34%, 66%);
// Socal media colors
$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$facebook-color: hsl(208, 92%, 53%);
$twitter-color: hsl(203, 89%, 53%);
$instagram-color-1: hsl(37, 97%, 70%);
$instagram-color-2: hsl(329, 70%, 58%);
$youtube-color: hsl(348, 97%, 39%);

//padding
$padding-big: 3rem 9rem;
$padding-medium: 3rem 5rem;
$padding-small: 0rem 4rem;

// fonts variables
$font-primary: 'Inter', sans-serif;




