.grid-container {
    padding: $padding-small;



    .row-1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, 35vh);
        justify-content: space-around;
        grid-gap: 1rem;

        &__col {
            background-color: $color-pale-blue;
            background-color: #F0F3FA;
            text-align: center;
            height: 28vh;
            border-radius: 2px;
            transition: background .3s linear;

            &:hover {
                background-color: $color-light-1;
                background-color: #E1E3F0;
                cursor: pointer;
            }

            &.col-first-2 {
            border-top: 3px solid $color-toggle-primary;
            }

            &.col-second-2 {
                @include instagram-linear-gradient;
            } 

            &.last {
                @include youtube-linear-gradient;
            }


            &__item {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-top: 2rem;

                
            }

        }

        .col__item-followers {
            margin: 2rem 0;
        }
    }

    
}