.grid-container {
    



    .row-1 {
        // background-color: orchid;
        display: grid;
        grid-template-columns: repeat(auto-fit, 35vh);
        justify-content: space-around;

        &__col {
            background-color: $color-dark-desat-blue;
            // background-color: $card-bg-color;
            text-align: center;
            height: 28vh;
            border-radius: 2px;

            &:hover {
                background-color: $color-dark-desat-blue;
                background-color: $color-dark-gray-blue;
                cursor: pointer;
            }

            &.col-first-2 {
            border-top: 3px solid $color-toggle-primary;
            }

            &.col-second-2 {
                @include instagram-linear-gradient;
            } 

            &.last {
                @include youtube-linear-gradient;
            }


            &__item {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-top: 2rem;

                
            }

        }

        .col__item-followers {
            margin: 2rem 0;
        }
    }

    
}