.page-engagements-1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 35vh);
    justify-content: space-around;

    &_col {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $color-pale-blue;
        background-color: #F0F3FA;;
        padding: 1.5rem 1.5rem;
        height: 15vh;
        border-radius: 2px;
        transition: background .3s linear;

        &:hover {
            background-color: $color-light-1;
            background-color: #E1E3F0;
            cursor: pointer;
        }

        
        
    }

    
}

.page-engagements-2 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 35vh);
    justify-content: space-around;
    margin-top: 2rem;
}

