.page-engagements-1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 35vh);
    justify-content: space-around;

    &_col {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $color-dark-desat-blue;
        padding: 1.5rem 1.5rem;
        height: 15vh;
        border-radius: 2px;

        
        
    }

    
}

.page-engagements-2 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 35vh);
    justify-content: space-around;
    margin-top: 2rem;
}

